<div class="row d-flex justify-content-center">
<form class="signup-form card col-10">
    <div class=" d-flex justify-content-center">
        <label for="username-signup">username:</label>
        <input type="text" id="username-signup"/>
    </div>
    <div class=" d-flex justify-content-center">
        <label for="email-signup">email:</label>
        <input type="text" id="email-signup"/>
    </div>
    <div class=" d-flex justify-content-center">
        <label for="password-signup">password:</label>
        <input type="password" id="password-signup"/>
    </div>
    <div class=" d-flex justify-content-center">
        <button type="submit">signup</button>
    </div>
</form>
</div>

<script src="/javascript/sign-up.js"></script>